<header class="header">
  <div class="header__main">
    <div class="header__container wide">
      <div class="header__body">
        <a href="./index.html" class="custom-logo-link">
          <img src="./img/icons/logo.svg" alt="Logo" />
        </a>

        <load src="partials/header/parts/navmenu.html" />

        <ul class="header__lang">
          <li>
            <a href="#">Укр</a>
            <ul class="sub-menu">
              <li class="current-lang">
                <a href="#">Eng</a>
              </li>
            </ul>
          </li>
        </ul>

        <button type="button" class="burger" aria-label="Open menu">
          <span></span>
          <span></span>
          <span></span>
        </button>

        <button type="button" class="btn-def openModal" data-id="modalConnect">
          Зв’язатись
        </button>
      </div>
    </div>
  </div>

  <load src="partials/header/parts/mobmenu.html" />
</header>
