<div class="floating">
  <div class="floating__ico no-select">
    <img src="./img/icons/float_1.svg" alt="" />
  </div>

  <div class="floating__wrapp">
    <div class="floating__body">
      <button type="button" class="floating__close"></button>
      <h2 class="floating__tl">
        <span>Напиши зараз нашому менеджеру</span> і він швидко зі всім допоможе
      </h2>
      <button type="button" class="btn-def btn-cw">
        <span>Написати в телеграм</span>
      </button>
    </div>

    <div class="floating__bg">
      <img src="./img/icons/float_bg.svg" alt="" />
    </div>
  </div>
</div>
