<section class="location pd1">
  <div class="location__container wide">
    <div class="location__body">
      <div class="location__map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3177.1462047168598!2d25.930815676752072!3d48.28145364113336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473408bb8da15081%3A0xa0fdb9958c62aa2e!2z0YPQuy4g0JjRgNC40L3RiyDQktC40LvRjNC00LUsIDIxLCDQp9C10YDQvdC-0LLRhtGLLCDQp9C10YDQvdC-0LLQuNGG0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA1ODAwMA!5e1!3m2!1sru!2sua!4v1738585345873!5m2!1sru!2sua"
          style="border: 0"
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          title="Map with the location of our office"
        ></iframe>
      </div>

      <div class="location__slider">
        <div class="slider__main">
          <div class="splide" aria-label="Main slider location">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide">
                  <img src="./img/content/loc_1.webp" alt="" />
                </li>
                <li class="splide__slide">
                  <img src="./img/content/loc_2.webp" alt="" />
                </li>
                <li class="splide__slide">
                  <img src="./img/content/loc_3.webp" alt="" />
                </li>
                <li class="splide__slide">
                  <img src="./img/content/loc_4.webp" alt="" />
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="slider__thumb">
          <div class="splide" aria-label="Thumbnail slider location">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide thumbnail">
                  <img src="./img/content/loc_1.webp" alt="" />
                </li>
                <li class="splide__slide thumbnail">
                  <img src="./img/content/loc_2.webp" alt="" />
                </li>
                <li class="splide__slide thumbnail">
                  <img src="./img/content/loc_3.webp" alt="" />
                </li>
                <li class="splide__slide thumbnail">
                  <img src="./img/content/loc_4.webp" alt="" />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
