<section class="reviews pdbr">
  <div class="reviews__container">
    <div class="pdbr__wrapp">
      <div class="reviews__header">
        <ul class="reviews__ava">
          <li class="no-select">
            <span class="ibg">
              <img src="./img/content/ava_1.webp" alt="" />
            </span>
          </li>
          <li class="no-select">
            <span class="ibg">
              <img src="./img/content/ava_2.webp" alt="" />
            </span>
          </li>
          <li class="no-select">
            <span class="ibg">
              <img src="./img/content/ava_3.webp" alt="" />
            </span>
          </li>
          <li class="no-select">
            <span class="ibg">
              <img src="./img/content/ava_4.webp" alt="" />
            </span>
          </li>
        </ul>
        <h2 class="tl2">
          Що<br />
          пишуть клієнти
        </h2>
        <div class="reviews__desc">
          <p>
            Наші клієнти залишили відгуки про якісне та швидке обслуговування,
            яке вони отримали в RDF Exchange. Ми цінуємо кожен зворотний зв'язок
            і продовжуємо покращувати наш сервіс.
          </p>
        </div>
      </div>

      <div class="reviews__content">google відгуки</div>

      <button type="button" class="btn-def openModal" data-id="modalConnect">
        Зв'язатися з менеджером
      </button>
    </div>
  </div>
</section>
