<section class="swap pd1">
  <div class="swap__container">
    <div class="heading__sec">
      <h2 class="tl2">
        Вигідний<br />
        та безпечний обмін<br />
        валют у Чернівцях
      </h2>
    </div>

    <div class="swap__body moreBlock">
      <div class="swap__row">
        <div class="swap__info">
          <div><p>Валюта</p></div>
          <div><p>Купівля</p></div>
          <div><p>Продаж</p></div>
        </div>
        <div class="swap__currency">
          <div class="valuta">
            <span class="no-select">
              <img src="./img/icons/flag_1.svg" alt="" />
            </span>
            <p>USD<span>/UAH</span></p>
          </div>
          <div class="rate"><p>41.10</p></div>
          <div class="rate"><p>43.10</p></div>
          <div class="tobook">
            <button type="button" class="openModal" data-id="modalConnect">
              Забронювати
            </button>
          </div>
        </div>
        <div class="swap__currency">
          <div class="valuta">
            <span class="no-select">
              <img src="./img/icons/flag_2.svg" alt="" />
            </span>
            <p>EUR<span>/UAH</span></p>
          </div>
          <div class="rate"><p>43.80</p></div>
          <div class="rate"><p>44.20</p></div>
          <div class="tobook">
            <button type="button" class="openModal" data-id="modalConnect">
              Забронювати
            </button>
          </div>
        </div>
        <div class="swap__currency">
          <div class="valuta">
            <span class="no-select">
              <img src="./img/icons/flag_3.svg" alt="" />
            </span>
            <p>GBP<span>/UAH</span></p>
          </div>
          <div class="rate"><p>41.10</p></div>
          <div class="rate"><p>43.10</p></div>
          <div class="tobook">
            <button type="button" class="openModal" data-id="modalConnect">
              Забронювати
            </button>
          </div>
        </div>
        <div class="swap__currency">
          <div class="valuta">
            <span class="no-select">
              <img src="./img/icons/flag_4.svg" alt="" />
            </span>
            <p>PLN<span>/UAH</span></p>
          </div>
          <div class="rate"><p>41.10</p></div>
          <div class="rate"><p>43.10</p></div>
          <div class="tobook">
            <button type="button" class="openModal" data-id="modalConnect">
              Забронювати
            </button>
          </div>
        </div>
      </div>
      <div class="swap__row">
        <div class="swap__info">
          <div><p>Валюта</p></div>
          <div><p>Купівля</p></div>
          <div><p>Продаж</p></div>
        </div>
        <div class="swap__currency">
          <div class="valuta">
            <span class="no-select">
              <img src="./img/icons/flag_1.svg" alt="" />
            </span>
            <p>USD<span>/UAH</span></p>
          </div>
          <div class="rate"><p>41.10</p></div>
          <div class="rate"><p>43.10</p></div>
          <div class="tobook">
            <button type="button" class="openModal" data-id="modalConnect">
              Забронювати
            </button>
          </div>
        </div>
        <div class="swap__currency">
          <div class="valuta">
            <span class="no-select">
              <img src="./img/icons/flag_2.svg" alt="" />
            </span>
            <p>EUR<span>/UAH</span></p>
          </div>
          <div class="rate"><p>43.80</p></div>
          <div class="rate"><p>44.20</p></div>
          <div class="tobook">
            <button type="button" class="openModal" data-id="modalConnect">
              Забронювати
            </button>
          </div>
        </div>
        <div class="swap__currency">
          <div class="valuta">
            <span class="no-select">
              <img src="./img/icons/flag_3.svg" alt="" />
            </span>
            <p>GBP<span>/UAH</span></p>
          </div>
          <div class="rate"><p>41.10</p></div>
          <div class="rate"><p>43.10</p></div>
          <div class="tobook">
            <button type="button" class="openModal" data-id="modalConnect">
              Забронювати
            </button>
          </div>
        </div>
        <div class="swap__currency">
          <div class="valuta">
            <span class="no-select">
              <img src="./img/icons/flag_4.svg" alt="" />
            </span>
            <p>PLN<span>/UAH</span></p>
          </div>
          <div class="rate"><p>41.10</p></div>
          <div class="rate"><p>43.10</p></div>
          <div class="tobook">
            <button type="button" class="openModal" data-id="modalConnect">
              Забронювати
            </button>
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="btn-def btn-trns addMore">Більше</button>
  </div>
</section>
