html,
body {
  font-optical-sizing: auto;
  font-family: var(--ff);
  background-color: var(--cw);
  color: var(--cm);
  font-size: 1rem;
  line-height: 1.3;
}

body {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0.25rem;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: linear-gradient(226deg, #be00fe 0%, #5200ff 100%), #4e1e9d;
  }
}

.overhide {
  overflow: hidden;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.main {
  flex: 1 1 auto;
  padding-bottom: 7.5rem;
}

[class*="__container"] {
  max-width: 100rem;
  padding: 0 1.875em;
  margin: 0 auto;
  &.wide {
    max-width: 116.25rem;
  }
}

/* --------- Adaptive desktop (1860px) --------- */

@media screen and (max-width: 1860px) {
  html,
  body {
    font-size: 0.8602vw;
  }
}

/* --------- Adaptive tablet (960px) --------- */

@media screen and (max-width: 960px) {
  html,
  body {
    font-size: 16px;
  }

  .main {
    padding-bottom: 3.125rem;
  }

  [class*="__container"] {
    padding: 0 0.9375em;
  }
}

/* --------- Adaptive mobile (375px) --------- */

@media screen and (max-width: 375px) {
  [class*="__container"] {
    padding: 0 0.625em;
  }
}

/* --------- Adaptive mobile (320px) --------- */
@media screen and (max-width: 320px) {
  html,
  body {
    font-size: 5vw;
  }
}
