<footer class="footer">
  <div class="footer__container">
    <div class="footer__top">
      <a href="./index.html" class="custom-logo-link">
        <img src="./img/icons/logo.svg" alt="Logo" />
      </a>

      <div class="footer__btns">
        <button
          type="button"
          class="btn-def alt openModal"
          data-id="modalConnect"
        >
          Зв’язатись
        </button>
        <button type="button" class="btn-def alt">Калькулятор</button>
      </div>

      <ul class="footer__soc">
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer" class="fb">
            FB
          </a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer" class="me">
            ME
          </a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer" class="te">
            Te
          </a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer" class="in">
            IN
          </a>
        </li>
      </ul>
    </div>

    <div class="footer__body">
      <div class="footer__info">
        <p>
          Зв'яжіться з нами<br />
          або завітайте до нас
        </p>
        <address>
          <a
            href="https://maps.app.goo.gl/poC9E6nWK4zbJDyG9"
            target="_blank"
            rel="noopener noreferrer"
          >
            м. Чернівці вул. Ірини Вільде 21
          </a>
          <a href="tel:+380660000372">+380 (66) 000 - 03 - 72</a>
          <p>Пн-Сб: 8:00-19:00 Нд: 11:00-17:00</p>
        </address>
      </div>

      <ul class="footer__list">
        <li class="menu-item menu-item-has-children">
          <a href="#">Послуги</a>
          <ul class="sub-menu">
            <li>
              <ul>
                <li>
                  <a href="./exchange.html">Обмін валют</a>
                </li>
                <li>
                  <a href="./exchange.html">Обмін криптовалют</a>
                </li>
                <li>
                  <a href="./exchange.html">
                    Оплата інвойсів в Європу або по світу<br />
                    в євро та доларах
                  </a>
                </li>
                <li>
                  <a href="./exchange.html">
                    Оплата аукціонів Copart,<br />
                    IAAI та інші
                  </a>
                </li>
                <li>
                  <a href="./exchange.html">Прийом зношених купюр</a>
                </li>
              </ul>
            </li>
            <li>
              <ul>
                <li>
                  <a href="./exchange.html">
                    Обмін та перекази електронних<br />
                    валют (wise, paypal, payoneer)
                  </a>
                </li>
                <li>
                  <a href="./exchange.html">
                    Перекази гривні на ФОП/ТОВ<br />
                    рахунок
                  </a>
                </li>
                <li>
                  <a href="./exchange.html">Переказ коштів</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="menu-item menu-item-has-children">
          <a href="#">Інфо</a>
          <ul class="sub-menu">
            <li>
              <ul>
                <li>
                  <a href="./blog.html">Блог</a>
                </li>
                <li>
                  <a href="./contacts.html">Контакти</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="footer__lang">
        <li class="current-lang">
          <a href="#">Укр</a>
        </li>
        <li>
          <a href="#">Eng</a>
        </li>
      </ul>
    </div>

    <div class="footer__bottom">
      <p>© 2024 всі права захищені.</p>
      <a href="./policy.html">Політика конфіденційності</a>
    </div>
  </div>
</footer>
