<section class="services-offer offer pd1">
  <div class="offer__container">
    <div class="offer__body">
      <ul class="offer__cards">
        <li class="offer__card">
          <h3 class="tl3 cw">Обмін валют</h3>
          <div class="offer__img no-select">
            <img src="./img/content/offer_1.webp" alt="" />
          </div>
          <div class="offer__bg no-select">
            <img src="./img/decor/offer_r.svg" alt="" />
          </div>
        </li>
        <li class="offer__card">
          <h3 class="tl3 cw">
            Обмін<br />
            криптовалют
          </h3>
          <div class="offer__img no-select">
            <img src="./img/content/offer_2.webp" alt="" />
          </div>
          <div class="offer__bg no-select">
            <img src="./img/decor/offer_r.svg" alt="" />
          </div>
        </li>
        <li class="offer__card">
          <h3 class="tl3 cw">
            Оплата інвойсів в Європу<br />
            або по світу в євро та доларах
          </h3>
          <div class="offer__img no-select">
            <img src="./img/content/offer_3.webp" alt="" />
          </div>
          <div class="offer__bg no-select">
            <img src="./img/decor/offer_r.svg" alt="" />
          </div>
        </li>
        <li class="offer__card">
          <h3 class="tl3 cw">
            Оплата аукціонів<br />
            Copart, IAAI та інші
          </h3>
          <div class="offer__img no-select">
            <img src="./img/content/offer_4.webp" alt="" />
          </div>
          <div class="offer__bg no-select">
            <img src="./img/decor/offer_r.svg" alt="" />
          </div>
        </li>
        <li class="offer__card">
          <h3 class="tl3 cw">
            Перекази гривні<br />
            на ФОП/ТОВ рахунок
          </h3>
          <div class="offer__img no-select">
            <img src="./img/content/offer_5.webp" alt="" />
          </div>
          <div class="offer__bg no-select">
            <img src="./img/decor/offer_r.svg" alt="" />
          </div>
        </li>
        <li class="offer__card">
          <h3 class="tl3 cw">
            Обмін та перекази<br />
            електронних<br />
            валют (wise,<br />
            paypal, payoneer)
          </h3>
          <div class="offer__img no-select">
            <img src="./img/content/offer_6.webp" alt="" />
            <img src="./img/content/offer_7.webp" alt="" />
          </div>
          <div class="offer__bg no-select">
            <img src="./img/decor/offer_r.svg" alt="" />
          </div>
        </li>
        <li class="offer__card">
          <h3 class="tl3 cw">
            Прийом<br />
            зношених купюр
          </h3>
          <div class="offer__img no-select">
            <img src="./img/content/offer_8.webp" alt="" />
          </div>
          <div class="offer__bg no-select">
            <img src="./img/decor/offer_r.svg" alt="" />
          </div>
        </li>
        <li class="offer__card">
          <h3 class="tl3 cw">Переказ коштів</h3>
          <div class="offer__img no-select">
            <img src="./img/content/offer_9.webp" alt="" />
          </div>
          <div class="offer__bg no-select">
            <img src="./img/decor/offer_r.svg" alt="" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
