<section class="services firstsec halvsec" id="calc">
  <div class="firstsec__container">
    <div class="firstsec__body">
      <div class="breadcrumbs">
        <ul>
          <li><a href="./index.html">Головна</a></li>
          <li>
            <span>Наші послуги</span>
          </li>
        </ul>
      </div>

      <div class="three-graph" aria-label="Graph logo R"></div>
      <div class="firstsec__logo" aria-label="Logo R">
        <img src="./img/decor/hero_r.webp" alt="" />
      </div>

      <div class="firstsec__content">
        <div class="firstsec__header">
          <h1 class="tl1 cw">
            Наші<br />
            послуги
          </h1>
        </div>
        <div class="firstsec__desc">
          <p>
            Швидкі операції, актуальні курси<br />
            та гарантія конфіденційності кожної<br />
            транзакції. Обміняйте валюту<br />
            з комфортом та вигідно за лічені хвилини.
          </p>
        </div>
      </div>

      <load src="partials/calc/calc.html" />
    </div>
  </div>
</section>
