<section class="blog">
  <div class="blog__container">
    <div class="blog__body pd2">
      <div class="breadcrumbs st-bl">
        <ul>
          <li><a href="./index.html">Головна</a></li>
          <li>
            <span>Блог</span>
          </li>
        </ul>
      </div>

      <div class="blog__header">
        <h1 class="tl1">Блог</h1>
      </div>

      <ul class="blog__cards">
        <li class="blog__card">
          <div class="blog__info">
            <a href="./article.html" class="tl3">
              Атака 51%: що це таке та як вона впливає на блокчейн?
            </a>
            <p class="blog__date">3 Січня 2025</p>

            <div class="txt-def">
              <p>
                Уявіть собі базу даних, яка зберігається на багатьох
                комп'ютерах, гарантуючи безпеку та незмінність ...
              </p>
            </div>
          </div>

          <div class="blog__img ibg no-select">
            <img src="./img/content/blog_1.jpg" alt="" />
          </div>
        </li>
        <li class="blog__card">
          <div class="blog__info">
            <a href="./article.html" class="tl3">
              Ковзна середня (MA): що це та як використовувати в трейдингу?
            </a>
            <p class="blog__date">3 Січня 2025</p>
          </div>

          <div class="blog__img ibg no-select">
            <img src="./img/content/blog_2.jpg" alt="" />
          </div>
        </li>
        <li class="blog__card">
          <div class="blog__info">
            <a href="./article.html" class="tl3">
              Обмін старих та пошкоджених купюр у Львові: як вирішити проблему
              швидко та без зайвих зусиль
            </a>
            <p class="blog__date">3 Січня 2025</p>
          </div>

          <div class="blog__img ibg no-select">
            <img src="./img/content/blog_3.jpg" alt="" />
          </div>
        </li>
        <li class="blog__card">
          <div class="blog__info">
            <a href="./article.html" class="tl3">
              Ковзна середня (MA): що це та як використовувати в трейдингу?
            </a>
            <p class="blog__date">3 Січня 2025</p>
          </div>

          <div class="blog__img ibg no-select">
            <img src="./img/content/blog_4.jpg" alt="" />
          </div>
        </li>
        <li class="blog__card">
          <div class="blog__info">
            <a href="./article.html" class="tl3">
              Ф'ючерсна торгівля: що це та як почати торгувати?
            </a>
            <p class="blog__date">3 Січня 2025</p>
          </div>

          <div class="blog__img ibg no-select">
            <img src="./img/content/loc_3.jpg" alt="" />
          </div>
        </li>
        <li class="blog__card">
          <div class="blog__info">
            <a href="./article.html" class="tl3">
              Атака 51%: що це таке та як вона впливає на блокчейн?
            </a>
            <p class="blog__date">3 Січня 2025</p>

            <div class="txt-def">
              <p>
                Уявіть собі базу даних, яка зберігається на багатьох
                комп'ютерах, гарантуючи безпеку та незмінність ...
              </p>
            </div>
          </div>

          <div class="blog__img ibg no-select">
            <img src="./img/content/blog_6.jpg" alt="" />
          </div>
        </li>
        <li class="blog__card">
          <div class="blog__info">
            <a href="./article.html" class="tl3">
              Атака 51%: що це таке та як вона впливає на блокчейн?
            </a>
            <p class="blog__date">3 Січня 2025</p>

            <div class="txt-def">
              <p>
                Уявіть собі базу даних, яка зберігається на багатьох
                комп'ютерах, гарантуючи безпеку та незмінність ...
              </p>
            </div>
          </div>

          <div class="blog__img ibg no-select">
            <img src="./img/content/blog_7.jpg" alt="" />
          </div>
        </li>
        <li class="blog__card">
          <div class="blog__info">
            <a href="./article.html" class="tl3">
              Ковзна середня (MA): що це та як використовувати в трейдингу?
            </a>
            <p class="blog__date">3 Січня 2025</p>
          </div>

          <div class="blog__img ibg no-select">
            <img src="./img/content/blog_8.jpg" alt="" />
          </div>
        </li>
        <li class="blog__card">
          <div class="blog__info">
            <a href="./article.html" class="tl3">
              Ф'ючерсна торгівля: що це та як почати торгувати?
            </a>
            <p class="blog__date">3 Січня 2025</p>
          </div>

          <div class="blog__img ibg no-select">
            <img src="./img/content/loc_4.jpg" alt="" />
          </div>
        </li>
        <li class="blog__card">
          <div class="blog__info">
            <a href="./article.html" class="tl3">
              Ковзна середня (MA): що це та як використовувати в трейдингу?
            </a>
            <p class="blog__date">3 Січня 2025</p>
          </div>

          <div class="blog__img ibg no-select">
            <img src="./img/content/blog_8.jpg" alt="" />
          </div>
        </li>
        <li class="blog__card">
          <div class="blog__info">
            <a href="./article.html" class="tl3">
              Ф'ючерсна торгівля: що це та як почати торгувати?
            </a>
            <p class="blog__date">3 Січня 2025</p>
          </div>

          <div class="blog__img ibg no-select">
            <img src="./img/content/loc_4.jpg" alt="" />
          </div>
        </li>
        <li class="blog__card">
          <div class="blog__info">
            <a href="./article.html" class="tl3">
              Атака 51%: що це таке та як вона впливає на блокчейн?
            </a>
            <p class="blog__date">3 Січня 2025</p>

            <div class="txt-def">
              <p>
                Уявіть собі базу даних, яка зберігається на багатьох
                комп'ютерах, гарантуючи безпеку та незмінність ...
              </p>
            </div>
          </div>

          <div class="blog__img ibg no-select">
            <img src="./img/content/blog_5.jpg" alt="" />
          </div>
        </li>
      </ul>

      <div class="pagination pagin-desc">
        <div
          class="facetwp-facet facetwp-facet-pagination facetwp-type-pager"
          data-name="pagination"
          data-type="pager"
        >
          <div class="facetwp-pager">
            <a class="facetwp-page prev" data-page="1"></a>
            <a class="facetwp-page first active" data-page="1">1</a>
            <a class="facetwp-page" data-page="2">2</a>
            <a class="facetwp-page" data-page="3">3</a>
            <a class="facetwp-page" data-page="4">4</a>
            <a class="facetwp-page dots">…</a>
            <a class="facetwp-page last" data-page="40">40</a>
            <a class="facetwp-page next" data-page="3"></a>
          </div>
        </div>
      </div>

      <div class="pagination pagin-mob">
        <div
          class="facetwp-facet facetwp-facet-pagination facetwp-type-pager"
          data-name="pagination"
          data-type="pager"
        >
          <div class="facetwp-pager">
            <a class="facetwp-page prev" data-page="1"></a>
            <a class="facetwp-page first active" data-page="1">1</a>
            <a class="facetwp-page" data-page="2">2</a>
            <a class="facetwp-page dots">…</a>
            <a class="facetwp-page last" data-page="40">40</a>
            <a class="facetwp-page next" data-page="3"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
