<section class="error">
  <div class="error__wrapp">
    <div class="error__container">
      <div class="error__body">
        <div class="breadcrumbs st-bl">
          <ul>
            <li><a href="./index.html">Головна</a></li>
            <li>
              <span>404</span>
            </li>
          </ul>
        </div>

        <div class="error__content">
          <div class="error__img no-select">
            <img src="./img/decor/error.png" alt="" />
          </div>

          <h1 class="tl3">Сторінку не знайдено</h1>
          <a href="./index.html" class="btn-def">На головну</a>
        </div>
      </div>

      <div class="error__bg no-select">
        <img src="./img/decor/bg_error.svg" alt="" />
      </div>
    </div>
  </div>
</section>
