<section class="contacts">
  <div class="contacts__container">
    <div class="contacts__body pd2">
      <div class="breadcrumbs st-bl">
        <ul>
          <li><a href="./index.html">Головна</a></li>
          <li>
            <span>Контакти</span>
          </li>
        </ul>
      </div>

      <div class="contacts__header">
        <h1 class="tl1">
          Контакти<br />
          RDF Exchange
        </h1>
      </div>

      <div class="contacts__content">
        <div class="contacts__desc">
          <p>
            Зв'яжіться<br />
            з нами або завітайте<br />
            до нас
          </p>
        </div>
        <address class="contacts__address">
          <div class="contacts__box">
            <p>
              м. Чернівці вул. Ірини Вільде 21
              <span>(Пн-Сб: 8:00-19:00 Нд: 11:00-17:00)</span>
            </p>
            <a href="#" target="_blank" rel="noopener noreferrer">
              Дивитись на карті
            </a>
          </div>
          <div class="contacts__box">
            <p>+380 (66) 000 - 03 - 72</p>
            <a href="#" target="_blank" rel="noopener noreferrer">
              Написати в Telegram
            </a>
          </div>

          <ul class="footer__soc">
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer" class="fb">
                FB
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer" class="me">
                ME
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer" class="te">
                Te
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer" class="in">
                IN
              </a>
            </li>
          </ul>
        </address>
      </div>
    </div>
  </div>
</section>
