<section class="exchange-receive receive pd1 prllx">
  <div class="receive__container">
    <div class="heading__sec">
      <h2 class="tl2">
        Обмін<br />
        EUR/UAH у RDF<br />
        Exchange
      </h2>
    </div>

    <div class="receive__body btns__wrapp">
      <ul class="receive__cards prllx-list prllxF var2">
        <li class="card-def">
          <span class="card-def__icon no-select">
            <img src="./img/icons/ico_1.svg" alt="" />
          </span>
          <h3 class="tl4">
            Обмін валютної<br />
            пари EUR/UAH у RDF Exchange
          </h3>
          <div class="txt-def">
            <p>
              Це простота, зручність і впевненість у кожній операції.<br />
              Ми створили умови, щоб ваші фінансові операції були<br />
              максимально комфортними. У нас немає прихованих<br />
              комісій чи зайвих формальностей — усе прозоро та<br />
              зрозуміло.
            </p>
          </div>
        </li>
        <li class="card-def">
          <span class="card-def__icon no-select">
            <img src="./img/icons/ico_7.svg" alt="" />
          </span>
          <h3 class="tl4">
            Процес обміну<br />
            дуже простий
          </h3>
          <div class="txt-def">
            <p>
              Залиште заявку онлайн або завітайте до нашого<br />
              офісу в Чернівцях. Менеджери узгодять усі деталі:<br />
              суму, спосіб виплати (готівка, безготівковий переказ<br />
              чи інші формати) і забезпечать завершення операції<br />
              за лічені хвилини. Ми приймаємо навіть пошкоджені<br />
              чи зношені купюри, надаючи максимальну гнучкість<br />
              для наших клієнтів.
            </p>
          </div>
        </li>
        <li class="card-def">
          <span class="card-def__icon no-select">
            <img src="./img/icons/ico_8.svg" alt="" />
          </span>
          <h3 class="tl4">
            Обираючи<br />
            RDF Exchange
          </h3>
          <div class="txt-def">
            <p>
              Ви отримуєте надійного партнера для обміну<br />
              валютної пари EUR/UAH. Наш досвід,<br />
              відповідальність та увага до деталей роблять кожну<br />
              операцію швидкою, комфортною і безпечною.<br />
              Завітайте до нас і переконайтесь самі!
            </p>
          </div>
        </li>
        <li class="card-def">
          <span class="card-def__icon no-select">
            <img src="./img/icons/ico_1.svg" alt="" />
          </span>
          <h3 class="tl4">
            Обмін валютної<br />
            пари EUR/UAH у RDF Exchange
          </h3>
          <div class="txt-def">
            <p>
              Це простота, зручність і впевненість у кожній операції.<br />
              Ми створили умови, щоб ваші фінансові операції були<br />
              максимально комфортними. У нас немає прихованих<br />
              комісій чи зайвих формальностей — усе прозоро та<br />
              зрозуміло.
            </p>
          </div>
        </li>
        <li class="card-def">
          <span class="card-def__icon no-select">
            <img src="./img/icons/ico_7.svg" alt="" />
          </span>
          <h3 class="tl4">
            Процес обміну<br />
            дуже простий
          </h3>
          <div class="txt-def">
            <p>
              Залиште заявку онлайн або завітайте до нашого<br />
              офісу в Чернівцях. Менеджери узгодять усі деталі:<br />
              суму, спосіб виплати (готівка, безготівковий переказ<br />
              чи інші формати) і забезпечать завершення операції<br />
              за лічені хвилини. Ми приймаємо навіть пошкоджені<br />
              чи зношені купюри, надаючи максимальну гнучкість<br />
              для наших клієнтів.
            </p>
          </div>
        </li>
        <li class="card-def">
          <span class="card-def__icon no-select">
            <img src="./img/icons/ico_8.svg" alt="" />
          </span>
          <h3 class="tl4">
            Обираючи<br />
            RDF Exchange
          </h3>
          <div class="txt-def">
            <p>
              Ви отримуєте надійного партнера для обміну<br />
              валютної пари EUR/UAH. Наш досвід,<br />
              відповідальність та увага до деталей роблять кожну<br />
              операцію швидкою, комфортною і безпечною.<br />
              Завітайте до нас і переконайтесь самі!
            </p>
          </div>
        </li>
      </ul>

      <button type="button" class="btn-def openModal" data-id="modalConnect">
        Зв’язатись
      </button>
    </div>
  </div>
</section>
