<div class="navmenu">
  <nav class="navmenu__nav">
    <ul class="navmenu__list">
      <li class="menu-item current-menu-item">
        <a href="./currency.html">Обмін валют</a>
      </li>
      <li class="menu-item">
        <a href="./currency.html">Обмін криптовалют</a>
      </li>
      <li class="menu-item menu-item-has-children">
        <a href="./services.html">Послуги</a>
        <ul class="sub-menu">
          <li>
            <a href="./exchange.html">Обмін валют</a>
          </li>
          <li>
            <a href="./exchange.html">Обмін криптовалют</a>
          </li>
          <li>
            <a href="./exchange.html">
              Оплата інвойсів в Європу або по світу в євро та доларах
            </a>
          </li>
          <li>
            <a href="./exchange.html">
              Оплата аукціонів Copart, IAAI та інші
            </a>
          </li>
          <li>
            <a href="./exchange.html">Прийом зношених купюр</a>
          </li>
          <li>
            <a href="./exchange.html">
              Обмін та перекази електронних валют (wise, paypal, payoneer)
            </a>
          </li>
          <li>
            <a href="./exchange.html">Перекази гривні на ФОП/ТОВ рахунок</a>
          </li>
          <li>
            <a href="./exchange.html">Переказ коштів</a>
          </li>
        </ul>
      </li>
      <li class="menu-item"><a href="./blog.html">Блог</a></li>
      <li class="menu-item"><a href="./contacts.html">Контакти</a></li>
    </ul>
  </nav>
</div>
