.pinkPage {
  .firstsec {
    background-color: var(--cp);
  }
}
.bluePage {
  .firstsec {
    background: var(--lb);
  }
}
.violetPage {
  .firstsec {
    background-color: var(--cv);
  }
}

.breadcrumbs {
  position: absolute;
  z-index: 2;
  top: 1.875rem;
  left: 0;
  width: 100%;

  &.st-bl {
    ul {
      li {
        span,
        a {
          color: var(--cm);
        }
      }
    }
  }

  ul {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.25rem 1rem;
    li {
      display: flex;
      align-items: center;
      font-size: 0.8125rem;
      letter-spacing: -0.03em;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      min-width: 2.5rem;

      &:first-child {
        overflow: visible;
        text-overflow: clip;
        min-width: auto;
      }
      &:last-child {
        span,
        a {
          text-decoration: none;
          opacity: 0.5;
        }
      }
      span,
      a {
        text-decoration: underline;
        color: var(--cw);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all 0.15s ease-in;
      }
      a {
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}

.heading {
  &__sec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    margin-bottom: 2rem;
    .tl2 {
      padding-right: 3.125rem;
    }
  }

  &__txt {
    padding-right: 14.375rem;
    margin-bottom: 0.4375rem;
    font-size: 1.125rem;
    letter-spacing: -0.03em;
    &.wide {
      padding-right: 11.875rem;
    }
  }
}

.btns__wrapp {
  position: relative;
  .btn-def {
    position: absolute;
    top: -2.8125rem;
    right: 0;
    transform: translateY(-100%);
  }
}

@media screen and (max-width: 960px) {
  .breadcrumbs {
    top: 1.25rem;

    ul {
      gap: 0.1875rem 0.375rem;
      li {
        font-size: 0.75rem;
      }
    }
  }

  .heading {
    &__sec {
      br {
        display: none;
      }

      grid-template-columns: 1fr;
      align-items: stretch;
      margin-bottom: 1.5rem;
      .tl2 {
        padding-right: 0;
      }
    }

    &__txt {
      padding-right: 0;
      margin-bottom: 0;
      margin-top: 1rem;
      font-size: 0.9375rem;
      line-height: 1.25;
      &.wide {
        padding-right: 0;
      }
    }
  }

  .btns__wrapp {
    .btn-def {
      position: static;
      top: auto;
      right: auto;
      transform: none;
      margin: 0 auto;
      width: 100%;
      max-width: 18.75rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .class {
  }
}
