.pinkPage {
  .firstsec {
    background-color: var(--cp);
  }
}
.bluePage {
  .firstsec {
    background: var(--lb);
  }
}
.violetPage {
  .firstsec {
    background-color: var(--cv);
  }
}

@media screen and (max-width: 960px) {
  .class {
  }
}

@media screen and (max-width: 500px) {
  .class {
  }
}
