.pd1,
.pd2 {
  padding-top: 7.5rem;
}

.pdbr {
  padding-top: 7.5rem;
  &__wrapp {
    border-top: 0.0625rem solid var(--cd);
    padding-top: 7.5rem;
  }
}

.tl1 {
  font-size: 4.6875rem;
  line-height: 1.05;
  font-weight: 600;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}
.tl2 {
  font-size: 2.625rem;
  font-weight: 600;
  line-height: 1.15;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}
.tl3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.15;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.tl4 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.tl1,
.tl2,
.tl3,
.tl4 {
  &.cw {
    color: var(--cw);
  }
}

.txt-def {
  color: var(--cg);
  letter-spacing: -0.03em;
  &.cc {
    color: var(--cc);
  }
}

.btn-def {
  flex-shrink: 0;
  display: block;
  text-align: center;
  padding: 1.0625rem 2.875rem 0.875rem 2.875rem;
  color: var(--cw);
  background: var(--lf);
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.4;
  letter-spacing: -0.047em;
  width: fit-content;
  text-transform: uppercase;
  transition: all 0.15s ease-in;

  &.btn-trns {
    width: 100%;
    max-width: 23.75rem;
    padding: 1.25rem 2.5rem 1.0625rem 2.5rem;
    border: 0.0625rem solid var(--cd);
    background: var(--ln);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &.btn-cw {
    background: var(--cw);
    span {
      display: block;
      background: var(--ln);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
.btn-more {
  text-align: center;
  display: block;
  width: fit-content;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.4;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  transition: all 0.15s ease-in;
  background: var(--lo);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 960px) {
  .pd1 {
    padding-top: 3.125rem;
  }
  .pd2 {
    padding-top: 4.375rem;
  }

  .pdbr {
    padding-top: 3.125rem;
    &__wrapp {
      padding-top: 3.125rem;
    }
  }

  .tl1 {
    font-size: 2rem;
  }
  .tl2 {
    font-size: 1.5rem;
  }
  .tl3 {
    font-size: 1.0625rem;
    line-height: 1.25;
  }
  .tl4 {
    font-size: 1rem;
  }

  .txt-def {
    font-size: 0.875rem;
  }

  .btn-def {
    font-size: 0.8125rem;
    padding-top: 1.125rem;

    &.btn-trns {
      max-width: 18.75rem;
      flex-shrink: 1;
      padding: 1.0625rem 0.625rem 0.8125rem 0.625rem;
    }
  }
  .btn-more {
    font-size: 0.8125rem;
    padding: 1.0625rem 0.625rem 0.8125rem 0.625rem;
    border: 0.0625rem solid var(--cd);
    width: 100%;
    max-width: 18.75rem;
  }
}
