.embeded {
  font-size: 1em;
  line-height: 1.3em;
  letter-spacing: -0.02em;
  color: var(--cg);

  & > * {
    margin-top: 1em;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
      border-bottom: none !important;
    }
  }

  a {
    text-decoration: underline !important;
    text-underline-position: under;
    text-decoration-thickness: 1px !important;
  }

  b {
    font-weight: 600;
  }
  span {
    color: var(--cm);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--cm);
    font-weight: 600;
  }

  h2,
  h3 {
    font-size: 1.5em;
    line-height: 1.25em;
    letter-spacing: -0.01em;
    margin-top: 1.667em;
    margin-bottom: 0.667em;
    text-transform: uppercase;
  }

  h4,
  h5,
  h6 {
    font-size: 1.25em;
    line-height: 1.25em;
    letter-spacing: -0.01em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }

  ul {
    li {
      position: relative;
      margin-bottom: 1em;
      padding-left: 1em;
      list-style: none;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0.3125rem;
        width: 0.375rem;
        height: 0.5rem;
        background-size: 0.375rem 0.5rem;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: var(--vectorHv);
        transform: rotate(-90deg);
      }

      &:last-child {
        margin-bottom: 0;
      }

      p {
        margin-top: 0.6875em;
      }
    }
  }

  ol {
    padding-left: 1em;

    li {
      margin-bottom: 1em;
      padding-left: 0.5em;
      list-style: decimal;

      &:last-child {
        margin-bottom: 0;
      }
      p {
        margin-top: 0.6875em;
      }
    }
  }

  .size-full {
    position: relative;
    padding-top: 60%;
    margin: 2.5em 0;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  .wp-block-image,
  .wp-block-video,
  .wp-block-embed {
    margin: 2.5em 0;
    width: 100%;

    &.is-resized {
      img,
      video,
      iframe {
        width: 100% !important;
      }
    }

    &.aligncenter {
      img,
      video,
      iframe {
        margin: 0 auto;
      }
    }

    &.alignright {
      display: flex;
      justify-content: flex-end;
    }

    img,
    video,
    iframe {
      max-width: 100% !important;
      display: block;
      height: auto !important;
    }

    .wp-block-embed__wrapper {
      padding-top: calc(100% / 16 * 9);
      position: relative;
    }

    iframe {
      width: 100% !important;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      height: 100% !important;
    }
  }
}

@media screen and (max-width: 960px) {
  .embeded {
    font-size: 0.875em;

    h2,
    h3 {
      font-size: 1.214em;
      margin-top: 1.412em;
      margin-bottom: 0.941em;
    }

    h4,
    h5,
    h6 {
      font-size: 1em;
      margin-top: 1.25em;
      margin-bottom: 0.875em;
    }

    ul {
      li {
        margin-bottom: 1.143em;

        p {
          margin-top: 0.571em;
        }
      }
    }

    ol {
      li {
        margin-bottom: 1.143em;
        padding-left: 0.143em;

        p {
          margin-top: 0.571em;
        }
      }
    }

    .size-full {
      margin: 1.714em 0;
    }
  }
}
