body {
  /* Colors */
  --cm: #1c1c1c;
  --cb: #000;
  --cw: #fff;
  --cd: #ddd;
  --ce: #ededed;
  --cg: #606060;

  --lf: linear-gradient(134deg, #be00fe 0%, #5200ff 100%), #be00fe;
  --lb: linear-gradient(134deg, #be00fe 0%, #5200ff 100%), #5200ff;
  --ln: linear-gradient(45deg, #be00fe 0%, #5200ff 100%);
  --lo: linear-gradient(135deg, #be00fe 0%, #5200ff 100%);

  /* Fonts */
  --ff: "MazzardH", sans-serif;
}
