.offer {
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 1.5rem;

    .offer__card {
      &:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
      }
      &:nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;
      }
      &:nth-child(3) {
        grid-area: 1 / 3 / 2 / 5;
      }
      &:nth-child(4) {
        grid-area: 2 / 1 / 3 / 3;
      }
      &:nth-child(5) {
        grid-area: 3 / 1 / 4 / 3;
      }
      &:nth-child(6) {
        grid-area: 2 / 3 / 4 / 4;
      }
      &:nth-child(7) {
        grid-area: 2 / 4 / 3 / 5;
      }
      &:nth-child(8) {
        grid-area: 3 / 4 / 4 / 5;
      }
    }
  }
  &__card {
    position: relative;
    overflow: hidden;
    background: var(--lb);
    padding: 2rem 1.5rem;
    min-height: 26.25rem;
    transition: all 0.15s ease-in;
    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.1s ease-in;
    }
    &:nth-child(6) {
      .offer__img {
        img {
          max-width: 27.8125rem;
          &:not(:first-child) {
            display: none;
          }
        }
      }
    }
    &:hover {
      .tl3 {
        text-decoration: underline;
      }
      .offer__img {
        transform: translateX(-50%) translateY(-39%) scale(1.1);
      }
    }
    .tl3 {
      display: block;
      position: absolute;
      z-index: 5;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: calc(100% - 1.5rem * 2);
      height: calc(100% - 2rem * 2);
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: calc(100% + 1.5rem * 2);
        height: calc(100% + 2rem * 2);
      }
    }
    &.bg-pink {
      &:hover {
        &::after {
          background-color: var(--cp);
        }
      }
    }
    &.bg-viol {
      &:hover {
        &::after {
          background-color: var(--cv);
        }
      }
    }
  }

  &__img {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-39%);
    width: 25rem;
    transition: all 0.15s ease-in;
    img {
      width: 100%;
    }
  }
  &__bg {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-30%);
    width: 15.25rem;
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 960px) {
  .offer {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      gap: 0.5rem;
      margin-bottom: 1.5rem;

      .offer__card {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8) {
          grid-area: auto;
        }
      }
    }
    &__card {
      br {
        display: none;
      }
      min-height: 17.5rem;
      padding: 1.5rem 1rem;
      &::after {
        display: none;
      }
      &:hover {
        .tl3 {
          text-decoration: none;
        }
        .offer__img {
          transform: translateX(-50%) translateY(-39%) scale(1);
        }
      }
      &:nth-child(6) {
        .offer__img {
          img {
            &:not(:first-child) {
              display: block;
            }
            &:not(:last-child) {
              display: none;
            }
          }
        }
      }

      .tl3 {
        width: calc(100% - 1rem * 2);
        height: calc(100% - 1.5rem * 2);
        &::after {
          width: calc(100% + 1rem * 2);
          height: calc(100% + 1.5rem * 2);
        }
      }
    }

    &__img {
      width: 90%;
      max-width: 18.75rem;
    }
    &__bg {
      width: 55%;
      max-width: 11.25rem;
    }
  }
}

@media screen and (max-width: 568px) {
  .offer {
    &__card {
      padding: 1rem 0.625rem;
      min-height: auto;
      .tl3 {
        font-size: 0.875rem;
        position: static;
        top: auto;
        left: auto;
        transform: translateX(0) translateY(0);
        width: fit-content;
        height: auto;
        margin-bottom: 12rem;
        &::after {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
