.exchange-receive {
  .receive__cards {
    .card-def {
      min-height: 23.75rem;
      max-width: calc((100% - 2 * 1.5rem) / 3);
    }
  }
}

.receive {
  &__cards {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 1.5rem;

    .card-def {
      width: 100%;
      max-width: calc((100% - 3 * 1.5rem) / 4);
    }
  }
}

@media screen and (max-width: 960px) {
  .exchange-receive {
    .receive__cards {
      .card-def {
        br {
          display: none;
        }
        min-height: auto;
        max-width: 100%;
      }
    }
  }

  .receive {
    &__cards {
      align-items: stretch;
      gap: 0.5rem;
      margin-bottom: 1.5rem;

      .card-def {
        max-width: calc((100% - 1 * 0.5rem) / 2);
      }
    }
  }
}

@media screen and (max-width: 630px) {
  .receive {
    &__cards {
      .card-def {
        max-width: 100%;
      }
    }
  }
}
