<section class="assort pd1">
  <div class="assort__container">
    <div class="heading__sec">
      <h2 class="tl2">
        Курс<br />
        валют у Чернівцях<br />
        на 07.01.2025
      </h2>
    </div>

    <div class="assort__body moreBlock">
      <div class="assort__info">
        <div><p>Валюта</p></div>
        <div><p>Купівля</p></div>
        <div><p>Продаж</p></div>
      </div>

      <div class="splide">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <div class="assort__currency">
                <div class="valuta">
                  <span class="no-select">
                    <img src="./img/icons/flag_1.svg" alt="" />
                  </span>
                  <p>USD<span>/UAH</span></p>
                </div>
                <div class="rate">
                  <p>Купівля</p>
                  <p>41.10</p>
                </div>
                <div class="rate">
                  <p>Продаж</p>
                  <p>43.10</p>
                </div>
                <div class="tobook">
                  <button
                    type="button"
                    class="btn-def openModal"
                    data-id="modalConnect"
                  >
                    Забронювати <span>курс</span>
                  </button>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="assort__currency">
                <div class="valuta">
                  <span class="no-select">
                    <img src="./img/icons/flag_2.svg" alt="" />
                  </span>
                  <p>EUR<span>/UAH</span></p>
                </div>
                <div class="rate">
                  <p>Купівля</p>
                  <p>41.10</p>
                </div>
                <div class="rate">
                  <p>Продаж</p>
                  <p>43.10</p>
                </div>
                <div class="tobook">
                  <button
                    type="button"
                    class="btn-def openModal"
                    data-id="modalConnect"
                  >
                    Забронювати <span>курс</span>
                  </button>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="assort__currency">
                <div class="valuta">
                  <span class="no-select">
                    <img src="./img/icons/flag_3.svg" alt="" />
                  </span>
                  <p>GBP<span>/UAH</span></p>
                </div>
                <div class="rate">
                  <p>Купівля</p>
                  <p>41.10</p>
                </div>
                <div class="rate">
                  <p>Продаж</p>
                  <p>43.10</p>
                </div>
                <div class="tobook">
                  <button
                    type="button"
                    class="btn-def openModal"
                    data-id="modalConnect"
                  >
                    Забронювати <span>курс</span>
                  </button>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="assort__currency">
                <div class="valuta">
                  <span class="no-select">
                    <img src="./img/icons/flag_4.svg" alt="" />
                  </span>
                  <p>PLN<span>/UAH</span></p>
                </div>
                <div class="rate">
                  <p>Купівля</p>
                  <p>41.10</p>
                </div>
                <div class="rate">
                  <p>Продаж</p>
                  <p>43.10</p>
                </div>
                <div class="tobook">
                  <button
                    type="button"
                    class="btn-def openModal"
                    data-id="modalConnect"
                  >
                    Забронювати <span>курс</span>
                  </button>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="assort__currency">
                <div class="valuta">
                  <span class="no-select">
                    <img src="./img/icons/flag_1.svg" alt="" />
                  </span>
                  <p>USD<span>/UAH</span></p>
                </div>
                <div class="rate">
                  <p>Купівля</p>
                  <p>41.10</p>
                </div>
                <div class="rate">
                  <p>Продаж</p>
                  <p>43.10</p>
                </div>
                <div class="tobook">
                  <button
                    type="button"
                    class="btn-def openModal"
                    data-id="modalConnect"
                  >
                    Забронювати <span>курс</span>
                  </button>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="assort__currency">
                <div class="valuta">
                  <span class="no-select">
                    <img src="./img/icons/flag_2.svg" alt="" />
                  </span>
                  <p>EUR<span>/UAH</span></p>
                </div>
                <div class="rate">
                  <p>Купівля</p>
                  <p>41.10</p>
                </div>
                <div class="rate">
                  <p>Продаж</p>
                  <p>43.10</p>
                </div>
                <div class="tobook">
                  <button
                    type="button"
                    class="btn-def openModal"
                    data-id="modalConnect"
                  >
                    Забронювати <span>курс</span>
                  </button>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="assort__currency">
                <div class="valuta">
                  <span class="no-select">
                    <img src="./img/icons/flag_3.svg" alt="" />
                  </span>
                  <p>GBP<span>/UAH</span></p>
                </div>
                <div class="rate">
                  <p>Купівля</p>
                  <p>41.10</p>
                </div>
                <div class="rate">
                  <p>Продаж</p>
                  <p>43.10</p>
                </div>
                <div class="tobook">
                  <button
                    type="button"
                    class="btn-def openModal"
                    data-id="modalConnect"
                  >
                    Забронювати <span>курс</span>
                  </button>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="assort__currency">
                <div class="valuta">
                  <span class="no-select">
                    <img src="./img/icons/flag_4.svg" alt="" />
                  </span>
                  <p>PLN<span>/UAH</span></p>
                </div>
                <div class="rate">
                  <p>Купівля</p>
                  <p>41.10</p>
                </div>
                <div class="rate">
                  <p>Продаж</p>
                  <p>43.10</p>
                </div>
                <div class="tobook">
                  <button
                    type="button"
                    class="btn-def openModal"
                    data-id="modalConnect"
                  >
                    Забронювати <span>курс</span>
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <button type="button" class="btn-def btn-trns addMore">Більше</button>
  </div>
</section>
