<section class="hero firstsec">
  <div class="firstsec__container">
    <div class="firstsec__body">
      <div class="firstsec__content">
        <div class="firstsec__header">
          <h1 class="tl1">
            Швидкий<br />
            та безпечний<br />
            обмін валют<br />
            і криптовалют<br />
            у Чернівцях
          </h1>
        </div>
        <div class="firstsec__desc">
          <p>
            RDF Exchange — це більше<br />
            ніж обмінник. Ми надаємо повний<br />
            спектр фінансових послуг. Обирайте<br />
            прозорість, безпеку та швидкість<br />
            для своїх фінансових рішень
          </p>
        </div>
      </div>

      <div class="calc"></div>
    </div>
  </div>
</section>
