<section class="hero firstsec" id="calc">
  <div class="firstsec__container">
    <div class="firstsec__body">
      <!-- <div class="breadcrumbs st-bl">
        <ul>
          <li><a href="./index.html">Головна</a></li>
          <li>
            <a href="./currency.html">
              Вигідний та безпечний обмін валют у Чернівцях
            </a>
          </li>
          <li>
            <span>Обмін EUR/UAH у Чернівцях</span>
          </li>
        </ul>
      </div> -->

      <div class="three-graph"></div>
      <div class="firstsec__logo">
        <img src="./img/decor/hero_r.png" alt="" />
      </div>

      <div class="firstsec__content">
        <div class="firstsec__header">
          <h1 class="tl1 cw">
            Швидкий<br />
            та безпечний<br />
            обмін валют<br />
            і криптовалют<br />
            у Чернівцях
          </h1>
        </div>
        <div class="firstsec__desc">
          <p>
            RDF Exchange — це більше<br />
            ніж обмінник. Ми надаємо повний<br />
            спектр фінансових послуг. Обирайте<br />
            прозорість, безпеку та швидкість<br />
            для своїх фінансових рішень
          </p>
        </div>
      </div>

      <div class="calc">
        <h2 class="tl3">Онлайн-калькулятор</h2>

        <!-- <div class="calc__variat">
          <label>
            <input type="radio" name="variation" value="shredded" checked />
            <p>Роздріб</p>
          </label>
          <label>
            <input type="radio" name="variation" value="wholesale" />
            <p>Опт</p>
          </label>
        </div> -->

        <div class="calc__wrapp">
          <div class="calc__exchange">
            <p>Віддаєте</p>
            <div class="calc__box">
              <select class="select-give">
                <option
                  value="USD"
                  data-flag="./img/icons/flag_1.svg"
                  data-fullname="Долар США"
                >
                  USD
                </option>
                <option
                  value="EUR"
                  data-flag="./img/icons/flag_2.svg"
                  data-fullname="Євро"
                >
                  EUR
                </option>
                <option
                  value="GBP"
                  data-flag="./img/icons/flag_3.svg"
                  data-fullname="Фунт стерлінгів"
                >
                  GBP
                </option>
                <option
                  value="PLN"
                  data-flag="./img/icons/flag_4.svg"
                  data-fullname="Злотий"
                >
                  PLN
                </option>
              </select>
              <input type="text" name="input-give" placeholder="00.00" />
            </div>
          </div>

          <button type="button" class="calc__toggle" aria-label="Toggle calc">
            <span><img src="./img/icons/toggle.svg" alt="Toggle calc" /></span>
          </button>

          <div class="calc__exchange">
            <p>Отримаєте</p>
            <div class="calc__box">
              <select class="select-receive">
                <option
                  value="UAH"
                  data-flag="./img/icons/flag_5.svg"
                  data-fullname="Гривня"
                >
                  UAH
                </option>
                <option
                  value="EUR"
                  data-flag="./img/icons/flag_2.svg"
                  data-fullname="Євро"
                >
                  EUR
                </option>
                <option
                  value="GBP"
                  data-flag="./img/icons/flag_3.svg"
                  data-fullname="Фунт стерлінгів"
                >
                  GBP
                </option>
                <option
                  value="PLN"
                  data-flag="./img/icons/flag_4.svg"
                  data-fullname="Злотий"
                >
                  PLN
                </option>
              </select>
              <input type="text" name="input-receive" placeholder="00.00" />
            </div>
          </div>
        </div>

        <button type="button" class="btn-def openModal" data-id="modalConnect">
          Забронювати курс
        </button>

        <div class="calc__courses">
          <p>1 USD = <span>42.55 UAH</span></p>
          <p>1 UAH = <span>0.0235 USD</span></p>
        </div>

        <div class="calc__desc">
          <p>
            *Діючі умови обміну валюти визначаються у формі копії наказу
            (розпорядження) фінансової установи, розміщеному виключно у касах
            фінансових установ - партнерів Програми лояльності.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
