<section class="home-steps steps pd1">
  <div class="steps__container">
    <div class="heading__sec">
      <h2 class="tl2">
        Простий і прозорий<br />
        процес для будь-якої<br />
        послуги
      </h2>
    </div>

    <div class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <div class="card-def">
              <span class="card-def__num"><span>01</span>крок</span>
              <h3 class="tl4">
                Залиште заявку<br />
                або завітайте до нас
              </h3>
              <div class="txt-def">
                <p>
                  Оберіть потрібну послугу: обмін валют чи криптовалют, переказ
                  коштів, оплата аукціонів або прийом зношених купюр. Залиште
                  запит онлайн або відвідайте нас за адресою вулиця Садова 22
                  для швидкого обслуговування.
                </p>
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="card-def">
              <span class="card-def__num"><span>02</span>крок</span>
              <h3 class="tl4">
                Фіксація вигідних<br />
                умов для вашої операції
              </h3>
              <div class="txt-def">
                <p>
                  Ми одразу узгодимо з вами курс обміну, суму переказу чи інші
                  деталі послуги, забезпечивши прозорі та зрозумілі умови
                  співпраці.
                </p>
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="card-def">
              <span class="card-def__num"><span>03</span>крок</span>
              <h3 class="tl4">
                Перевірка та підтвердження даних для вашої безпеки
              </h3>
              <div class="txt-def">
                <p>
                  Ми ретельно перевіряємо кожну операцію, гарантуючи захист
                  ваших коштів і персональних даних на кожному етапі.
                </p>
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="card-def">
              <span class="card-def__num"><span>04</span>крок</span>
              <h3 class="tl4">
                Швидке виконання вашої операції в реальному часі
              </h3>
              <div class="txt-def">
                <p>
                  Обмін валют, криптоактивів або оплата інвойсів проводиться
                  оперативно завдяки нашому досвіду та налагодженим процесам.
                </p>
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="card-def">
              <span class="card-def__num"><span>05</span>крок</span>
              <h3 class="tl4">
                Отримання результату<br />
                в найзручніший спосіб
              </h3>
              <div class="txt-def">
                <p>
                  Ви отримуєте кошти готівкою, на рахунок або у вигляді
                  підтвердження успішної оплати. Кожен процес завершується
                  максимально швидко і зручно для вас.
                </p>
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="card-def">
              <span class="card-def__num"><span>06</span>крок</span>
              <h3 class="tl4">
                Залиште заявку<br />
                або завітайте до нас
              </h3>
              <div class="txt-def">
                <p>
                  Ви отримуєте кошти готівкою, на рахунок або у вигляді
                  підтвердження успішної оплати. Кожен процес завершується
                  максимально швидко і зручно для вас.
                </p>
              </div>
            </div>
          </li>
          <li class="splide__slide slide-connect">
            <div class="slide-connect__box">
              <span class="slide-connect__icon no-select">
                <img src="./img/icons/ico_11.svg" alt="" />
              </span>
              <h3 class="tl4 cw">
                Зв'язатися<br />
                з менеджером
              </h3>
              <button
                type="button"
                class="btn-def btn-cw openModal"
                data-id="modalConnect"
              >
                <span>Зв’язатись</span>
              </button>
            </div>

            <div class="slide-connect__bg no-select" aria-label="Logo R">
              <img src="./img/decor/steps_r.png" alt="" />
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
