<section class="home-offer offer pd1">
  <div class="offer__container">
    <div class="heading__sec">
      <h2 class="tl2">
        Наші<br />
        послуги
      </h2>
      <div class="heading__txt">
        <p>
          Ми поєднуємо швидкість,<br />
          зручність та професіоналізм у<br />
          кожній послузі. RDF Exchange<br />
          надає надійні фінансові послуги
        </p>
      </div>
    </div>

    <div class="offer__body btns__wrapp">
      <ul class="offer__cards">
        <li class="offer__card bg-viol">
          <a href="./exchange.html" class="tl3 cw">Обмін валют</a>
          <div class="offer__img no-select">
            <img src="./img/content/offer_1.webp" alt="" />
          </div>
          <div class="offer__bg no-select">
            <img src="./img/decor/offer_r.svg" alt="" />
          </div>
        </li>
        <li class="offer__card bg-pink">
          <a href="./exchange.html" class="tl3 cw">
            Обмін<br />
            криптовалют
          </a>
          <div class="offer__img no-select">
            <img src="./img/content/offer_2.webp" alt="" />
          </div>
          <div class="offer__bg no-select">
            <img src="./img/decor/offer_r.svg" alt="" />
          </div>
        </li>
        <li class="offer__card bg-viol">
          <a href="./exchange.html" class="tl3 cw">
            Оплата інвойсів в Європу<br />
            або по світу в євро та доларах
          </a>
          <div class="offer__img no-select">
            <img src="./img/content/offer_3.webp" alt="" />
          </div>
          <div class="offer__bg no-select">
            <img src="./img/decor/offer_r.svg" alt="" />
          </div>
        </li>
        <li class="offer__card bg-viol">
          <a href="./exchange.html" class="tl3 cw">
            Оплата аукціонів<br />
            Copart, IAAI та інші
          </a>
          <div class="offer__img no-select">
            <img src="./img/content/offer_4.webp" alt="" />
          </div>
          <div class="offer__bg no-select">
            <img src="./img/decor/offer_r.svg" alt="" />
          </div>
        </li>
        <li class="offer__card bg-pink">
          <a href="./exchange.html" class="tl3 cw">
            Перекази гривні<br />
            на ФОП/ТОВ рахунок
          </a>
          <div class="offer__img no-select">
            <img src="./img/content/offer_5.webp" alt="" />
          </div>
          <div class="offer__bg no-select">
            <img src="./img/decor/offer_r.svg" alt="" />
          </div>
        </li>
        <li class="offer__card bg-pink">
          <a href="./exchange.html" class="tl3 cw">
            Обмін та перекази<br />
            електронних<br />
            валют (wise,<br />
            paypal, payoneer)
          </a>
          <div class="offer__img no-select">
            <img src="./img/content/offer_6.webp" alt="" />
            <img src="./img/content/offer_7.webp" alt="" />
          </div>
          <div class="offer__bg no-select">
            <img src="./img/decor/offer_r.svg" alt="" />
          </div>
        </li>
        <li class="offer__card bg-viol">
          <a href="./exchange.html" class="tl3 cw">
            Прийом<br />
            зношених купюр
          </a>
          <div class="offer__img no-select">
            <img src="./img/content/offer_8.webp" alt="" />
          </div>
          <div class="offer__bg no-select">
            <img src="./img/decor/offer_r.svg" alt="" />
          </div>
        </li>
        <li class="offer__card bg-pink">
          <a href="./exchange.html" class="tl3 cw">Переказ коштів</a>
          <div class="offer__img no-select">
            <img src="./img/content/offer_9.webp" alt="" />
          </div>
          <div class="offer__bg no-select">
            <img src="./img/decor/offer_r.svg" alt="" />
          </div>
        </li>
      </ul>

      <button type="button" class="btn-def openModal" data-id="modalConnect">
        Зв’язатись
      </button>
    </div>
  </div>
</section>
