<section class="home-fqa fqa pd1">
  <div class="fqa__container">
    <div class="heading__sec">
      <h2 class="tl2">
        Часті<br />
        запитання клієнтів
      </h2>
    </div>
    <div class="fqa__wrapp">
      <ul class="fqa__list accord">
        <li class="ac">
          <div class="ac-trigger">
            <div class="fqa__header">
              <h3 class="tl4">
                Чи можна переказати або отримати кошти у вас через<br />
                PayPal, Wise або Payoneer?
              </h3>
            </div>
            <div class="ac-panel">
              <div class="fqa__content">
                <p>
                  У RDF Exchange доступні для обміну такі фіатні валюти: USD,
                  EUR, UAH та інші популярні валюти на запит. Також ми працюємо
                  з криптовалютами: USDT, BTC, ETH та інші популярні крипто
                  активи. Уточнити деталі щодо конкретних валют або криптовалют
                  можна у наших менеджерів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="fqa__header">
              <h3 class="tl4">Які криптовалюти ви обмінюєте?</h3>
            </div>
            <div class="ac-panel">
              <div class="fqa__content">
                <p>
                  У RDF Exchange доступні для обміну такі фіатні валюти: USD,
                  EUR, UAH та інші популярні валюти на запит. Також ми працюємо
                  з криптовалютами: USDT, BTC, ETH та інші популярні крипто
                  активи. Уточнити деталі щодо конкретних валют або криптовалют
                  можна у наших менеджерів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="fqa__header">
              <h3 class="tl4">Які валюти доступні для обміну?</h3>
            </div>
            <div class="ac-panel">
              <div class="fqa__content">
                <p>
                  У RDF Exchange доступні для обміну такі фіатні валюти: USD,
                  EUR, UAH та інші популярні валюти на запит. Також ми працюємо
                  з криптовалютами: USDT, BTC, ETH та інші популярні крипто
                  активи. Уточнити деталі щодо конкретних валют або криптовалют
                  можна у наших менеджерів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="fqa__header">
              <h3 class="tl4">
                Чи працюєте ви з великими сумами? Чи є формат опту?
              </h3>
            </div>
            <div class="ac-panel">
              <div class="fqa__content">
                <p>
                  У RDF Exchange доступні для обміну такі фіатні валюти: USD,
                  EUR, UAH та інші популярні валюти на запит. Також ми працюємо
                  з криптовалютами: USDT, BTC, ETH та інші популярні крипто
                  активи. Уточнити деталі щодо конкретних валют або криптовалют
                  можна у наших менеджерів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="fqa__header">
              <h3 class="tl4">
                Скільки часу займає обмін криптовалют на готівку<br />
                або навпаки?
              </h3>
            </div>
            <div class="ac-panel">
              <div class="fqa__content">
                <p>
                  У RDF Exchange доступні для обміну такі фіатні валюти: USD,
                  EUR, UAH та інші популярні валюти на запит. Також ми працюємо
                  з криптовалютами: USDT, BTC, ETH та інші популярні крипто
                  активи. Уточнити деталі щодо конкретних валют або криптовалют
                  можна у наших менеджерів.
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul class="fqa__list accord">
        <li class="ac">
          <div class="ac-trigger">
            <div class="fqa__header">
              <h3 class="tl4">
                Як здійснюється оплата інвойсів в Європу або по світу<br />
                в євро та доларах?
              </h3>
            </div>
            <div class="ac-panel">
              <div class="fqa__content">
                <p>
                  У RDF Exchange доступні для обміну такі фіатні валюти: USD,
                  EUR, UAH та інші популярні валюти на запит. Також ми працюємо
                  з криптовалютами: USDT, BTC, ETH та інші популярні крипто
                  активи. Уточнити деталі щодо конкретних валют або криптовалют
                  можна у наших менеджерів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="fqa__header">
              <h3 class="tl4">Як зафіксувати курс перед обміном?</h3>
            </div>
            <div class="ac-panel">
              <div class="fqa__content">
                <p>
                  У RDF Exchange доступні для обміну такі фіатні валюти: USD,
                  EUR, UAH та інші популярні валюти на запит. Також ми працюємо
                  з криптовалютами: USDT, BTC, ETH та інші популярні крипто
                  активи. Уточнити деталі щодо конкретних валют або криптовалют
                  можна у наших менеджерів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="fqa__header">
              <h3 class="tl4">
                Що робити зі зношеними або пошкодженими купюрами?
              </h3>
            </div>
            <div class="ac-panel">
              <div class="fqa__content">
                <p>
                  У RDF Exchange доступні для обміну такі фіатні валюти: USD,
                  EUR, UAH та інші популярні валюти на запит. Також ми працюємо
                  з криптовалютами: USDT, BTC, ETH та інші популярні крипто
                  активи. Уточнити деталі щодо конкретних валют або криптовалют
                  можна у наших менеджерів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="fqa__header">
              <h3 class="tl4">
                Як здійснюється прийом гривні на ФОП/ТОВ рахунок?
              </h3>
            </div>
            <div class="ac-panel">
              <div class="fqa__content">
                <p>
                  У RDF Exchange доступні для обміну такі фіатні валюти: USD,
                  EUR, UAH та інші популярні валюти на запит. Також ми працюємо
                  з криптовалютами: USDT, BTC, ETH та інші популярні крипто
                  активи. Уточнити деталі щодо конкретних валют або криптовалют
                  можна у наших менеджерів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="fqa__header">
              <h3 class="tl4">
                Які переваги обміну у RDF Exchange інших обмінників?
              </h3>
            </div>
            <div class="ac-panel">
              <div class="fqa__content">
                <p>
                  У RDF Exchange доступні для обміну такі фіатні валюти: USD,
                  EUR, UAH та інші популярні валюти на запит. Також ми працюємо
                  з криптовалютами: USDT, BTC, ETH та інші популярні крипто
                  активи. Уточнити деталі щодо конкретних валют або криптовалют
                  можна у наших менеджерів.
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <button type="button" class="btn-def btn-trns">Більше</button>
  </div>
</section>
