<section class="receive pd1 prllx">
  <div class="receive__container">
    <div class="heading__sec">
      <h2 class="tl2">
        Що<br />
        ви отримуєте<br />
        з RDF Exchange
      </h2>
      <div class="heading__txt">
        <p>
          Обираючи RDF Exchange, ви<br />
          отримуєте не лише фінансову<br />
          послугу, а й надійного партнера<br />
          для ваших операцій.
        </p>
      </div>
    </div>

    <div class="receive__body btns__wrapp">
      <ul class="receive__cards prllx-list prllxF">
        <li class="card-def">
          <span class="card-def__icon no-select">
            <img src="./img/icons/ico_1.svg" alt="" />
          </span>
          <h3 class="tl3">
            Швидкість<br />
            та зручність
          </h3>
          <div class="txt-def">
            <p>
              Ви економите час, адже всі операції<br />
              виконуються протягом кількох хвилин.<br />
              Забронюйте курс на годину і<br />
              приходьте у зручний час без черг.
            </p>
          </div>
        </li>
        <li class="card-def">
          <span class="card-def__icon no-select">
            <img src="./img/icons/ico_2.svg" alt="" />
          </span>
          <h3 class="tl3">
            Гарантія<br />
            безпеки
          </h3>
          <div class="txt-def">
            <p>
              Ми забезпечуємо повну<br />
              конфіденційність кожної транзакції,<br />
              використовуючи передові технології<br />
              захисту.
            </p>
          </div>
        </li>
        <li class="card-def">
          <span class="card-def__icon no-select">
            <img src="./img/icons/ico_3.svg" alt="" />
          </span>
          <h3 class="tl3">
            Актуальні<br />
            курси
          </h3>
          <div class="txt-def">
            <p>
              Курси валют та криптовалют<br />
              оновлюються кілька разів на день,<br />
              щоб ви могли здійснити операції на<br />
              вигідних умовах.
            </p>
          </div>
        </li>
        <li class="card-def">
          <span class="card-def__icon no-select">
            <img src="./img/icons/ico_4.svg" alt="" />
          </span>
          <h3 class="tl3">
            Різноманітність<br />
            послуг
          </h3>
          <div class="txt-def">
            <p>
              Від обміну валют і криптовалют до<br />
              переказів через PayPal, Wise,<br />
              Payoneer і оплати європейських<br />
              інвойсів.
            </p>
          </div>
        </li>
        <li class="card-def">
          <span class="card-def__icon no-select">
            <img src="./img/icons/ico_5.svg" alt="" />
          </span>
          <h3 class="tl3">
            Прийом<br />
            зношених купюр
          </h3>
          <div class="txt-def">
            <p>
              Ми приймаємо старі або пошкоджені<br />
              банкноти, забезпечуючи вам зручний<br />
              обмін без зайвих турбот.
            </p>
          </div>
        </li>
        <li class="card-def">
          <span class="card-def__icon no-select">
            <img src="./img/icons/ico_9.svg" alt="" />
          </span>
          <h3 class="tl3">
            Професійна<br />
            підтримка
          </h3>
          <div class="txt-def">
            <p>
              Наші менеджери завжди готові<br />
              відповісти на ваші запитання та<br />
              запропонувати оптимальні рішення<br />
              для кожної ситуації.
            </p>
          </div>
        </li>
        <li class="card-def">
          <span class="card-def__icon no-select">
            <img src="./img/icons/ico_8.svg" alt="" />
          </span>
          <h3 class="tl3">
            Гнучкість<br />
            для бізнесу
          </h3>
          <div class="txt-def">
            <p>
              Пропонуємо вигідні умови для<br />
              великих обсягів операцій та співпраці<br />
              з юридичними особами.
            </p>
          </div>
        </li>
        <li class="card-def">
          <span class="card-def__icon no-select">
            <img src="./img/icons/ico_10.svg" alt="" />
          </span>
          <h3 class="tl3">
            Фізичний обмінник<br />
            у Чернівцях
          </h3>
          <div class="txt-def">
            <p>
              Надійність офлайн-локації, де ви<br />
              можете здійснити операції особисто.
            </p>
          </div>
        </li>
      </ul>

      <button type="button" class="btn-def openModal" data-id="modalConnect">
        Зв’язатись
      </button>
    </div>
  </div>
</section>
