<section class="currency-receive receive pd1 prllx">
  <div class="receive__container">
    <div class="heading__sec">
      <h2 class="tl2">
        Переваги<br />
        обміну валют у RDF<br />
        Exchange
      </h2>
    </div>

    <div class="receive__body btns__wrapp">
      <ul class="receive__cards prllx-list prllxF">
        <li class="card-def">
          <span class="card-def__icon no-select">
            <img src="./img/icons/ico_1.svg" alt="" />
          </span>
          <h3 class="tl4">
            Швидкий<br />
            обмін без очікуван
          </h3>
          <div class="txt-def">
            <p>
              Усі операції проводяться за лічені хвилини без черг та затримок.
            </p>
          </div>
        </li>
        <li class="card-def">
          <span class="card-def__icon no-select">
            <img src="./img/icons/ico_12.svg" alt="" />
          </span>
          <h3 class="tl4">
            Вигідні<br />
            курси валют
          </h3>
          <div class="txt-def">
            <p>
              Курси оновлюються кілька разів на<br />
              день, що дозволяє обмінювати<br />
              валюту на найкращих умовах.
            </p>
          </div>
        </li>
        <li class="card-def">
          <span class="card-def__icon no-select">
            <img src="./img/icons/ico_8.svg" alt="" />
          </span>
          <h3 class="tl4">
            Фіксація<br />
            курсу
          </h3>
          <div class="txt-def">
            <p>
              Забронюйте вигідний курс на годину<br />
              та уникайте ризику коливань.
            </p>
          </div>
        </li>
        <li class="card-def">
          <span class="card-def__icon no-select">
            <img src="./img/icons/ico_2.svg" alt="" />
          </span>
          <h3 class="tl4">
            Гарантія безпеки<br />
            та конфіденційності
          </h3>
          <div class="txt-def">
            <p>Ми захищаємо ваші дані та кошти на кожному етапі операції.</p>
          </div>
        </li>
        <li class="card-def">
          <span class="card-def__icon no-select">
            <img src="./img/icons/ico_9.svg" alt="" />
          </span>
          <h3 class="tl4">
            Прийом<br />
            великих сум
          </h3>
          <div class="txt-def">
            <p>
              Ми працюємо з великими обсягами валюти, надаючи спеціальні
              умови<br />
              для оптових операцій.
            </p>
          </div>
        </li>
        <li class="card-def">
          <span class="card-def__icon no-select">
            <img src="./img/icons/ico_3.svg" alt="" />
          </span>
          <h3 class="tl4">
            Зручний<br />
            формат обміну
          </h3>
          <div class="txt-def">
            <p>
              Отримайте кошти у доларах, євро, гривнях або іншій валюті у
              нашому<br />
              офісі в центрі Чернівців
            </p>
          </div>
        </li>
        <li class="card-def">
          <span class="card-def__icon no-select">
            <img src="./img/icons/ico_10.svg" alt="" />
          </span>
          <h3 class="tl4">
            Надійність<br />
            офлайн-локації
          </h3>
          <div class="txt-def">
            <p>
              Фізичний обмінник — це безпека та впевненість у якості
              обслуговування.
            </p>
          </div>
        </li>
        <li class="card-def">
          <span class="card-def__icon no-select">
            <img src="./img/icons/ico_5.svg" alt="" />
          </span>
          <h3 class="tl4">
            Прийом зношених<br />
            та пошкоджених купюр
          </h3>
          <div class="txt-def">
            <p>
              Ми приймаємо старі або пошкоджені банкноти для обміну. Наші
              фахівці швидко оцінять їх стан і виконають<br />
              обмін без зайвих складнощів.
            </p>
          </div>
        </li>
      </ul>

      <button type="button" class="btn-def openModal" data-id="modalConnect">
        Зв’язатись
      </button>
    </div>
  </div>
</section>
